<app-navbar></app-navbar>

<div class="container mt-4">
    <div class="card">
        <div class="card-header text-info font-weight-bold">
            Student List...
          </div>
          <div class="m-3">
            <input class="form-control w-25" type="text" [(ngModel)]="studentSearch" placeholder="Student search filter...">
          </div>
        <div class="card-body">
  <table class="table table-bordered table-hover" *ngIf="studentList.length>0">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Name</th>
        <th scope="col">Mobile</th>
        <th scope="col">City</th>
        <th scope="col">Postal</th>
        <th scope="col">Address_line1</th>
        <th scope="col">Address_line2</th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList | filter:studentSearch">
        <th scope="row">{{ student.id }}</th>
        <td>{{ student.name }}</td>
        <td>{{ student.mobile }}</td>
        <td>{{ student.postal_code }}</td>
        <td>{{ student.city }}</td>
        <td>{{ student.address_line1 }}</td>
        <td>{{ student.address_line2 }}</td>
        <td><i class="fa edit-btn" [routerLink]="['/student',student.id]" >&#xf044;</i></td>
      </tr> 
    </tbody>
  </table>
  <h3 *ngIf="studentList.length==0" class="text-center text-danger font-weight-bold">Student's List data tot found!!</h3>
        </div>
    </div>
</div>