<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" routerLink="/employee-list">Home</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/add-employee">Add Employee</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/student-add">Add Student</a>
        </li> 
        <li class="nav-item active">
          <a class="nav-link" routerLink="/students">Student List</a>
        </li> 
      </ul> 
    </div>
  </nav>